<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <title>登录</title>
    <link rel="stylesheet" href="/static/auth/css/reset.css"/>
    <link rel="stylesheet" href="/static/auth/css/login.css"/>
    <script type="text/javascript" src="/static/global/js/third/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/global/js/third/jquery-validation-1.17.0/jquery.validate.js"></script>
</head>
<body>
    <div class="header">
        <div class="top">
            <h1><span th:text="#{app.name}">US</span></h1></div>
    </div>
    <div class="main">
        <img src="/static/auth/images/login_bg2.png" alt=""/>
        <div class="form">
            <h2><span th:text="#{auth.login.title}"></span></h2>
			<form id="form-login" action="/login" method="post">
                <div class="form-line user-line">
                    <input type="text" class="input" id="txt_username" name="username" th:placeholder="#{auth.login.username.placeholder}"/>
                    <div class="clear"></div>
                    <div class="error-msg"></div>
                </div>
                <div class="form-line pswd-line">
                    <input type="password" name="password" id="txt_password" class="input" th:placeholder="#{auth.login.password.placeholder}"/>
                    <div class="clear"></div>
                    <div class="error-msg"></div>
                </div>
               <div class="line">
                   <label id="save-label" class="save-label"><input id="ck_rmbUser" class="save-input" name="rememberMe" type="checkbox"/></label><span th:text="#{auth.login.button.rememberme}"></span>
                    <a href="javascript:void(0)" class="forget" onclick="document.getElementById('form-login').reset();"><span th:text="#{auth.login.button.reset}"></span></a>
                </div>
               	<div class="msg-line"><span th:text="${msg}"></span></div>
                <div class="form-line submit-line"><input type="submit" class="input" th:value="#{auth.login.button.login}"/></div>
            </form>
        </div>
    </div>
<script th:inline="javascript">
    $(function(){
        $('.form').on('keyup', '.input', function(event){
            var $this = $(this);
            var $clear = $this.parents('.form-line').find('.clear');

            if($this.val().length > 0){
                $clear.addClass('view');
            }else{
                $clear.removeClass('view');
            }
        });

        $('.form').on('click', '.clear', function(event){
            var $this = $(this);
            var $input = $this.parents('.form-line').find('.input');

            $input.val('');
            $input.trigger('keyup');
        });

        $('#ck_rmbUser').on('click', function(){
            var state = $(this).prop('checked');
            var $label = $(this).parents('.save-label');
            if(state){
                $label.addClass('active');
            }else{
                $label.removeClass('active');
            }
        });

        $('#form-login').validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: [[#{auth.login.username.required}]]
                },
                password: {
                    required: [[#{auth.login.password.required}]]
                }
            },
 			submitHandler:function(form){
            	form.submit();
            },
            errorPlacement: function(error, element) {
                element.parent('.form-line').find('.error-msg').html(error);
            }
        });
    });
    function browserClose() {
    	localStorage.setItem("isFirstView", "none");
    	$(".browser-tips").hide();
    }
    $(".tips-close, .tips-confirm").on("click", function() {
    	browserClose();
    });
    /* 判断是否初次访问  */
    function firstVisit() {
    	if(localStorage.getItem("isFirstView") == "none") {
    		return false;
    	}else {   		
    		return true;
    	}
    }
</script>
<script   language="javascript">    
      if (top != window)    
      top.location.href = window.location.href;    
  </script>   
</body>


















</html>